.ourProduction{
    padding-block: 80px 100px;
}

.ourProduction-item{
    height: 350px;
    overflow: hidden;
    width: 287px;
    display: flex;
    background-repeat: no-repeat;
}

.ourProduction-title{
    padding-block: 20px 26px;
}

.ourProduction-item h3{
    align-self: end;
    margin: 20px 0 24px 24px;
    color: white;
    padding-top: 20px;
    width: 80% ;
    border-top:1px solid #939393;
}

.ourProduction-list{
    display: flex;
    grid-gap: 14px;
}


