.header{
    margin: 0 auto;
    background-image: url("../../assets/backHeader.png") ;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 694px;
}

.slider{
    display: flex;
    justify-content: space-between;
    color: #939393;
    position: relative;
}

.slider-information__h1{
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    color: #fff;
    letter-spacing: 2px;
    font-size: 60px;
    padding-top: 192px;
    width: 700px;
    line-height: 64px;
}

.slider-image{
    position: relative;
    width: 100%;
}

.slider-image img{
    position: absolute;
    left: 0;
    right: 0;
    z-index: 0;
}




.dropdown-header{
    margin-top: 54px;
    font-size: 20px;
}

details summary::-webkit-details-marker {
    display: none
}

::marker{
    content: '';
}
summary::before {
    content: url("../../assets/Vector.svg");
    background-repeat: no-repeat;
    margin-right: 12px;
    color: #EC7133;
}

details[open] summary::before {
    content: url("../../assets/Vector.svg");
    transform: rotate(90deg);
}

.dropdown-header__title{
    display: flex;
    align-items: center;
}

.dropdown-header__spoiler{
    padding-bottom: 24px;
}

.price{
    padding: 15px 17px 11px 15px;
    font-size: 24px;
    background-color: #FE5B00;
    color: #fff;
    border: none;
    position: relative;
    top: 449px;
    left: 229px;
}

.price::before {
    content: '';
    position: absolute;
    top: 4px;
    left: 4px;
    right: -4px;
    bottom: -4px;
    border: 2px solid #FE5B00; /* Orange outline */
    z-index: 1;
}

.load__list{
    display: flex;
    gap: 10px;
    padding-top: 128px;
}

.load__item{
    content: '';
    border: 2px solid #FE5B00; /* Orange outline */
    width: 31px;
}