@import url('https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

html {
    margin: 0;
    padding: 0;
}

* {
    font-family: 'PT Sans', sans-serif;
    margin: 0;
    padding: 0;

}


.gray{
    background-color: #F6F6F6;
}

.container{
    width: 1205px;
    margin: 0 auto;
}
.about{
    font-size: 18px;
    padding-block: 80px;
}

.orange{
    color: #FE5B00;
}

.first-symbol{
    font-size: 60px;
}

.about__text p:first-child::first-letter {
    initial-letter:2;
}

.about__text p:last-child {
    margin-top: 24px;
}

.about{
    display: flex;
    grid-gap:120px;
}

.about__production-item{
    display: flex;
    grid-gap: 29px;
}

.about__production-item:first-child{
    margin-bottom: 32.5px;
}

.about__production-title{
    font-size: 17px;
    padding-bottom: 4px;
}

.about__production-text{
    font-size: 15px;
    color: #939393;
}

.collection{
    background-image: url("assets/backHeader.png") ;
    color: #BEBEBE;
}

.collection-main{
    display: flex;
    position: relative;
}

.collection__title-h1{
    color: #fff;
    font-size: 32px;
    font-weight: normal;
    padding-block: 67px 20px;
}

.collection__text{
    width: 486px;
    font-size: 18px;
}

.collection__image{
    background-image: url("assets/collectionImage.png");
    width: 79%;
    height: 100%;
    overflow: hidden;
    object-fit: fill;
    position: absolute;
    background-repeat: no-repeat;
    left: 50%;
    clip-path: polygon(3% 0%, 100% 0, 100% 100%, 0 100%);
}

.collection__description{
    margin-bottom: 330px;
}

.collection__group{
    padding: 76px 0 0 63px;
}

.collection__image-title{
    letter-spacing: 2px;
    color: #fff;
    font-size: 18px;
    padding-bottom: 6px;
}

.promotionalGoods__title{
    font-weight: normal;
    padding-block: 80px 20px;
}

.promotionalGoods__list{
    display: inline-grid;
    grid-template-columns: repeat(4, 1fr);
}

.promotionalGoods__item{
    position: relative;
    border: 1px solid #ECECEC;
    border-collapse: collapse;
}

.promotionalGoods__item-image{
    margin: 24px  20px 20px;
}

.promotionalGoods__item-text{
    margin-inline: 20px;
}

.promotionalGoods__item-price{
    margin: 34px 0 24px 20px;
    font-size: 20px;
    font-weight: bold;
}

.promotionalGoods__item-button{
    position: absolute;
    top: 12px;
    right: 12px;
    background-color: #FF7028;
    font-size: 16px;
    padding: 8px 11px;
}